
.App {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  width: 100%;
}

.dashboard{
  background-color: #282c34;
  color: white;
  border-radius: 8px;
  padding: 20px;
  width: 95%;
  max-width: 100%;
  height: 100%;
  margin-top: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}

.dropdown-container {
  width: 100%;
  
  
  
}

.dropdown-list {
  background-color: #282c34;
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 10px;
  width: 100%;
  margin: 5px 5px 5px 5px;
  text-align: left;
  box-sizing: border-box;
  height: 50px;
}



/* New styles to make the dropdown button bigger */
button {
  padding: 15px 30px;  /* Increase padding for a larger button */
  font-size: 18px;      /* Increase font size */
  cursor: pointer;     /* Make the cursor a pointer */
  border: 5px solid #eee; /* Border for the button */
  border-radius: 10px;   /* Round the corners of the button */
  background-color: #282c34;  /* Dark background color for the button */
  color: white;          /* White text color */
  margin-bottom: 10px;   /* Add space below the button */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  width: 100%;
  text-align: left;
}
.custom-checkbox {
  width: 30px;
  height: 30px;
  accent-color: #007bff; /* modern browsers */
  cursor: pointer;
  margin-right: 8px;
  border-radius: 25px;
  
}

/* Optional: spacing between checkbox and label */
label {
  cursor: pointer;
}
.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* optional */
  padding: 15px 30px;
  background-color: #2c2f36; /* your dark bg */
  color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  height: 60px;
  
}

.arrow {
  font-size: 16px;
  margin-left: 8px;
}
.primaryButton {
  font-size: 15px;
  height: 60px;
  width: 200px;
  text-align: center;
  padding: 0 10px; /* horizontal padding */
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; /* prevent wrapping */
  overflow: hidden;     /* hide overflow */
  text-overflow: ellipsis; /* show ... if text is too long */
  
  border-radius: 5px;
  
  color: white;
  cursor: pointer;
}
.primaryButton:hover
{
  background-color: white;
  color:#2c2f36;
  border: #2c2f36;

}





